$main_bg: #2c3e50;
$diatomic_nonmetal: #ff9f72;
$noble_gas: #ff6565;
$alkali_metal: #ffdd00;
$alkaline_earth_metal: #a1bdea;
$metalloid: #e2e96f;
$polyatomic_nonmetal: #f3f8dc;
$post-transition_metal: #3f89df;
$transition_metal: #ff9f00;
$unknown_probably_transition_metal: #ff9f00;
$unknown_probably_post-transition_metal: #3f89df;
$unknown_probably_metalloid: #e2e96f;
$unknown_predicted_to_be_noble_gas: #ff6565;
$lanthanide: #e1dfd9;
$actinide: #b5b6b0;
